body{
    display: flex;
    align-items: center;
    justify-content: center;
}
.parent{
    height: 300px;
    width: 200px;
    perspective: 1000px;
    position: relative;
}
.parent2{
    height: 100%;
    width: 100%;
    background-color: aliceblue;
    transform-style: preserve-3d;
    transition: all 1s;
}
.div1{
    height: 300px;
    width: 200px;
    background-image: url("http://images6.fanpop.com/image/photos/37200000/Naruto-and-kakashi-hatake-stella2015-37299382-1600-2500.jpg");
    background-size: 100% 100%;
}
.div2{
    height: 300px;
    width: 200px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(225, 240, 236);
    transform: rotateY(180deg);
    backface-visibility: hidden;
    position: absolute;
    top: 0px;
}
.parent2:hover{
    transform: rotateY(180deg);
}
