.parent{
    height: 100%;
    width: 100%;
    background-color: aliceblue;
    position: relative;
}

.top{
    height: 50%;
    width: 100%;
    background: linear-gradient(to top right, #1A5A7E,#77C3BF);
}
.bottom{
    height: 50%;
    width: 100%;
    background-color: #82CFC7;
    z-index: -1;
}
.headder{
    height: 15%;
    width: 100%;
    border: 0.1px solid #69B5B5;
}
.icon{
    height: 20px;
    width: 20px;
    border: 3px solid black;
    background-color: transparent;
    box-shadow: 3px 3px 0px black;
    float: left;
}
.topic{
    height: 100%;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}
.p1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 35px;
}
.tags{
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    float: left;

}
.name{
    height: fit-content;
    width: fit-content;
    color: #10556D;
}
.name1{
    height: fit-content;
    width: fit-content;
    color: white;
}
.hicon{
    height: 80%;
    width: 80%;
    border: 2px solid white;
    background-color: white;
    border-radius: 100px;
    float: right;
    display: flex;
    margin-top: 5px;
    margin-right: 5px;
    justify-content: center;
    align-items: center;
    
}
.hparent{
    float: right;
    height: 100%;
    width: 4.5%;
}
.headding{
    height: 30%;
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
}
.h1{
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.h1c{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
}
.h2{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
}
.h2c{
    color: #10556D;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.search_bar_parent{
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchbar{
    height: 100%;
    width: 50%;
    border: 2px solid aliceblue;
    background-color: aliceblue;
    border-top-left-radius: 30px;  
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}
.searhicon{
    height: 100%;
    width: 10%;
    border-top-left-radius: 30px;  
    border-bottom-left-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}
.matter{
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: start;
    align-items: center;
    float: left;
}
.z1{
    color: #838284;
}
.search{
    margin-top: 5px;
    margin-right: 5px;
    color:white;
    height: 80%;
    width: 20%;
    float: right;
    background-color: #82CFC8;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #82CFC8;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;  
    border-bottom-left-radius: 30px;
}
.div1pa{
    height: 45%;
    position: absolute;
    width: 40%;
    top: 320px;
    float: left;
    display: flex;
    justify-content: end;
}
.div1{
    position: absolute;
    height: 100%;
    width: 55%;
    background-color: #F0F8FF;
    border: 2px solid #F0F8FF;
    border-radius: 20px;
}
.div2pa{
    position: absolute;
    height: 45%;
    width: 58%;
    top: 320px;
    right: 0;
    display: flex;
    justify-content: start;
    border-radius: 20px;
}
.div2{
    margin-top: 0px;
    height: 100%;
    width: 60%;
    background-image: url("./layout2-image.png");
    background-size: 100% 100%;
    border-radius: 20px;
} 
.q1{
    color: #838284;
    font-size: 20px;
}
.q2{
    color: hsl(260, 3%, 79%) ;
    font-family: 'Times New Roman', Times, serif;
}
.q3{
    font-size: 20px;
    color: hsl(260, 3%, 79%) ;
    font-family: 'Times New Roman', Times, serif;
}
.Learn{
    margin-top: 5px;
    margin-left: 10px;
    color:white;
    height: 12%;
    width: 23%;
    background-color: #5198A4;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #5198A4;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;  
    border-bottom-left-radius: 30px;
}
.share{
    height: 15%;
    width: 40%;
    background-color: azure;
    display: flex;
    align-items: center;
    margin-top: 70px;
    justify-content: space-evenly;
}
.s1{
    height: 100%;
    width: 40%;
    background-color: #82CFC7;
}
.s2{
    height: 100%;
    width: 20%;
    background-color: #1A5A7E;
}
.s3{
    height: 100%;
    width: 20%;
    background-color: #1A5A7E;
}
.s4{
    height: 100%;
    width: 20%;
    background-color: #1A5A7E;
}